/node_modules
/public/hot
/public/storage
/public/img
/public/css
/public/js
/public/fonts
/public/content
/storage/*.key
/storage/logs
/storage/framework
/storage/shopplus
/storage/app/products
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store